* {
  margin: 0px;
  padding: 0px;
  font-family: arial, monospace;
  box-sizing: broder-box;
}
/*Create a navbar*/
/*  */
/*  */
nav {
  height: 100px;
  background-color: #0e0e0e;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* logo */
.logo img {
  height: 60px;
  width: 150px;
  object-fit: cover;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
/* adress box */

.adj {
  font-size: 0.9rem;
  color: #cccccc;
  margin-left: 15px;
}
.country {
  font-size: 1.1rem;
  color: #ffffff;
  margin-left: 3px;
}
.add_icon {
  display: flex;
  align-items: center;
}

/* Search box */
.nav_search {
  display: flex;
  justify-content: space-evenly;

  width: 700px;
  height: 40px;
  border-radius: 4px;
}
.search-select {
  background-color: #e6e6e6;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #ea5931;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.nav_search:hover {
  border: 2px solid #ea5931;
}
/* Accound & list ||| Return & Order*/
span {
  font-size: 0.7rem;
}
.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}
/* cart */
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}
/* Accound & list ||| Return & Order*/
span {
  font-size: 0.7rem;
}
.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}
/* cart */
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}
/* Create a panel  */
/*  */
/*  */
.panel {
  height: 40px;
  background-color: #222f3d;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.panel-opps a {
  text-decoration: none;
  margin-left: 15px;
  color: #ffffff;
}
.panel-opps {
  width: 90%;
}

/* Hero Section */
/*  */
/*  */
.hero-section {
  height: 400px;
  background-image: url(https://m.media-amazon.com/images/I/61zAjw4bqPL._SX3000_.jpg);
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-massage {
  height: 40px;
  width: 80%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  margin-bottom: 25px;
}
.hero-massage a {
  color: #007185;
  text-decoration: none;
}

/*  <!-- Shoop section --> */
/*  */
/*  */
/* Row-1 */

.shoop-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(247, 197, 205);
}

.box {
  height: 400px;
  width: 24%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 1rem;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box a {
  text-decoration: none;
  color: #007185;
  margin-bottom: 1rem;
  font-size: 13px;
}

/* box 2 */
.box-image {
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/*Box-1 and  Box-3 and Box 4*/

.subbox1 {
  height: 100px;
  width: 115px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
}
.subbox2 {
  height: 100px;
  width: 115px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
}
.subbox3 {
  height: 100px;
  width: 120px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
}
.subbox4 {
  height: 100px;
  width: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
}
.display {
  display: flex;
  justify-content: space-evenly;
}
.display p {
  font-size: 12px;
}
main {
  background-color: rgb(247, 197, 205);
}

/* footer */
footer {
  margin-top: 15px;
}

.foot-panel-1 {
  height: 125px;
  width: 100%;
  background-color: white;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-top-left-radius: 8px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
  align-content: center;
}

.f-text1 {
  color: #000000;
  font-size: 13px;
}
button {
  color: #000000;
  margin-top: 5px;
  height: 30px;
  width: 230px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  background-color: #ea5931;
}
.f-text2 {
  margin-top: 5px;
  font-size: 11px;
}
.f-text2 a {
  color: #007185;
  text-decoration: none;
}
/* foot panel 2 */
.foot-panel-2 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

/*foot panel 3 */
.foot-panel-3 {
  background-color: #222f3d;
  color: white;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  text-decoration: none;
  color: #dddddd;
}
ul a:hover {
  text-decoration: underline;
}
/* foot panel 4 */
.foot-panel-4 {
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flogo {
  background-image: url(image/logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}
.foot-contener {
  margin-left: 80px;
  height: 37px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foot-contener a {
  height: 34px;
  width: 117px;
  border: 0.4px solid #cccccc;
  border-radius: 3px;
  text-decoration: none;
  color: #cccccc;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fo_4_text {
  font-size: 13px;
  font-weight: 700;
}
.flag {
  background-image: url("image/american-flag-small.png");
  background-size: cover;
  height: 12px;
  width: 18px;
}

/* foot-panel-5 */

.foot-panel-5 {
  background-color: #0f1111;
  color: #ffffff;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
}
.pages {
  padding-top: 25px;
}
.copyright {
  padding-top: 5px;
}
.pages a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
.pages a:hover {
  text-decoration: underline;
}
